<a href="https://colab.research.google.com/github/SanjayBista1010/Classification/blob/main/nepalShare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('nepal_stock_market.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company
0,2022-01-02,410.0,412.0,400.1,411.00,0.24,78818.0,32071339.8,1,ADBL
1,2022-01-03,416.0,418.0,412.0,415.00,0.97,35929.0,14924061.5,1,ADBL
2,2022-01-04,422.0,424.0,410.0,422.00,1.69,52990.0,22249267.5,1,ADBL
3,2022-01-05,426.0,430.0,418.0,419.00,-0.71,45591.0,19202068.3,-1,ADBL
4,2022-01-06,420.0,422.0,415.5,421.00,0.48,37485.0,15665637.0,1,ADBL
...,...,...,...,...,...,...,...,...,...,...
83266,2025-04-20,200.3,208.0,200.0,200.58,-1.83,147677.0,29700844.0,1,UPPER
83267,2025-04-21,204.5,204.5,199.8,200.75,0.08,166506.0,33610335.5,-1,UPPER
83268,2025-04-22,200.2,202.4,199.0,199.73,-0.51,144020.0,28809857.6,-1,UPPER
83269,2025-04-23,201.7,201.7,197.0,197.51,-1.11,140211.0,27766853.3,-1,UPPER
83270,2025-04-24,197.0,199.0,196.2,197.18,-0.17,117888.0,23262601.4,1,UPPER

In [52]:
df['published_date'] = pd.to_datetime(df['published_date'])
df = df.sort_values('published_date')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83271 entries, 0 to 83270
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   published_date   83271 non-null  datetime64[ns]
 1   open             82421 non-null  float64
 2   high             83271 non-null  float64
 3   low              83271 non-null  float64
 4   close            83271 non-null  float64
 5   per_change       81271 non-null  float64
 6   traded_quantity  83271 non-null  float64
 7   traded_amount    81711 non-null  float64
 8   status           83271 non-null  int64
 9   Company          83271 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 7.0+ MB

In [54]:
df.describe()

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
count,83271,82421.000000,83271.000000,83271.000000,83271.000000,81271.000000,8.327100e+04,8.171100e+04,83271.000000
mean,2023-08-07 03:56:47.529632256,430.768349,439.726728,422.098390,430.262610,0.055818,5.712901e+04,2.264659e+07,-0.143243
min,2022-01-02 00:00:00,118.000000,120.000000,0.000000,117.100000,-10.000000,1.000000e+01,2.070000e+03,-1.000000
25%,2022-09-16 00:00:00,255.000000,260.000000,249.300000,254.000000,-1.460000,9.984000e+03,3.565771e+06,-1.000000
50%,2023-07-24 00:00:00,345.000000,352.800000,338.000000,344.540000,-0.250000,2.627500e+04,9.340380e+06,-1.000000
75%,2024-06-10 00:00:00,501.000000,512.000000,492.000000,501.000000,1.190000,6.099850e+04,2.281022e+07,1.000000
max,2025-04-24 00:00:00,3608.700000,3646.000000,3523.000000,3575.000000,10.000000,3.037821e+06,1.582512e+09,1.000000
std,NaN,306.258709,312.260621,300.353264,306.144337,2.642168,1.088209e+05,4.348636e+07,0.976150

In [55]:
df.isna().sum()

published_date        0
open                850
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount      1560
status                0
Company               0
dtype: int64

In [56]:
df = df.sort_values(['Company', 'published_date'])
df['open'] = df['open'].fillna(df.groupby('Company')['close'].shift(1))

In [57]:
df.isna().sum()

published_date        0
open                  1
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount      1560
status                0
Company               0
dtype: int64

In [59]:
df['traded_amount'] = df['traded_amount'].fillna(df['traded_quantity'] * df['close'])
df.isna().sum()

published_date        0
open                  1
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount         0
status                0
Company               0
dtype: int64

In [60]:
df['per_change'] = df['per_change'].fillna(((df['high'] - df['low']) / df['high']) * 100)
df.isna().sum()

published_date     0
open               1
high               0
low                0
close              0
per_change         0
traded_quantity    0
traded_amount      0
status             0
Company            0
dtype: int64