<a href="https://colab.research.google.com/github/SanjayBista1010/Classification/blob/main/nepalShare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('nepal_stock_market.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company
0,2022-01-02,410.0,412.0,400.1,411.00,0.24,78818.0,32071339.8,1,ADBL
1,2022-01-03,416.0,418.0,412.0,415.00,0.97,35929.0,14924061.5,1,ADBL
2,2022-01-04,422.0,424.0,410.0,422.00,1.69,52990.0,22249267.5,1,ADBL
3,2022-01-05,426.0,430.0,418.0,419.00,-0.71,45591.0,19202068.3,-1,ADBL
4,2022-01-06,420.0,422.0,415.5,421.00,0.48,37485.0,15665637.0,1,ADBL
...,...,...,...,...,...,...,...,...,...,...
83266,2025-04-20,200.3,208.0,200.0,200.58,-1.83,147677.0,29700844.0,1,UPPER
83267,2025-04-21,204.5,204.5,199.8,200.75,0.08,166506.0,33610335.5,-1,UPPER
83268,2025-04-22,200.2,202.4,199.0,199.73,-0.51,144020.0,28809857.6,-1,UPPER
83269,2025-04-23,201.7,201.7,197.0,197.51,-1.11,140211.0,27766853.3,-1,UPPER
83270,2025-04-24,197.0,199.0,196.2,197.18,-0.17,117888.0,23262601.4,1,UPPER

In [92]:
df['published_date'] = pd.to_datetime(df['published_date'])
df = df.sort_values('published_date')

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83271 entries, 0 to 83270
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   published_date   83271 non-null  datetime64[ns]
 1   open             82421 non-null  float64
 2   high             83271 non-null  float64
 3   low              83271 non-null  float64
 4   close            83271 non-null  float64
 5   per_change       81271 non-null  float64
 6   traded_quantity  83271 non-null  float64
 7   traded_amount    81711 non-null  float64
 8   status           83271 non-null  int64
 9   Company          83271 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 7.0+ MB

In [94]:
df.describe()

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
count,83271,82421.000000,83271.000000,83271.000000,83271.000000,81271.000000,8.327100e+04,8.171100e+04,83271.000000
mean,2023-08-07 03:56:47.529632256,430.768349,439.726728,422.098390,430.262610,0.055818,5.712901e+04,2.264659e+07,-0.143243
min,2022-01-02 00:00:00,118.000000,120.000000,0.000000,117.100000,-10.000000,1.000000e+01,2.070000e+03,-1.000000
25%,2022-09-16 00:00:00,255.000000,260.000000,249.300000,254.000000,-1.460000,9.984000e+03,3.565771e+06,-1.000000
50%,2023-07-24 00:00:00,345.000000,352.800000,338.000000,344.540000,-0.250000,2.627500e+04,9.340380e+06,-1.000000
75%,2024-06-10 00:00:00,501.000000,512.000000,492.000000,501.000000,1.190000,6.099850e+04,2.281022e+07,1.000000
max,2025-04-24 00:00:00,3608.700000,3646.000000,3523.000000,3575.000000,10.000000,3.037821e+06,1.582512e+09,1.000000
std,NaN,306.258709,312.260621,300.353264,306.144337,2.642168,1.088209e+05,4.348636e+07,0.976150

In [95]:
df.isna().sum()

published_date        0
open                850
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount      1560
status                0
Company               0
dtype: int64

In [96]:
df = df.sort_values(['Company', 'published_date'])
df['open'] = df['open'].fillna(df.groupby('Company')['close'].shift(1))

In [97]:
df.isna().sum()

published_date        0
open                  1
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount      1560
status                0
Company               0
dtype: int64

In [98]:
df[df.isna().any(axis=1)]

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company
15,2022-01-23,440.0,441.0,428.0,430.2,NaN,42972.0,18568857.5,-1,ADBL
22,2022-02-01,420.0,424.0,418.0,423.0,NaN,33761.0,14242566.1,1,ADBL
35,2022-02-21,400.0,405.0,398.0,402.0,NaN,27798.0,11132799.4,1,ADBL
75,2022-04-26,374.0,377.0,371.5,373.0,NaN,11521.0,4299443.3,-1,ADBL
89,2022-05-20,366.0,366.0,360.0,364.0,NaN,5095.0,1850894.5,-1,ADBL
...,...,...,...,...,...,...,...,...,...,...
83144,2024-10-01,201.0,215.0,198.0,214.9,7.99,491877.0,NaN,1,UPPER
83167,2024-11-13,218.1,221.0,216.0,217.8,NaN,191047.0,41589981.3,-1,UPPER
83211,2025-01-21,199.0,202.6,199.0,200.4,NaN,77141.0,15518938.0,1,UPPER
83216,2025-01-28,204.9,204.9,200.0,201.7,0.10,183431.0,NaN,-1,UPPER
83247,2025-03-19,204.0,205.5,201.0,202.7,NaN,168927.0,34234714.1,-1,UPPER

In [99]:
df['traded_amount'] = df['traded_amount'].fillna(df['traded_quantity'] * df['close'])
df.isna().sum()

published_date        0
open                  1
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount         0
status                0
Company               0
dtype: int64

In [100]:
df['per_change'] = df['per_change'].fillna(((df['high'] - df['low']) / df['high']) * 100)
df.isna().sum()

published_date     0
open               1
high               0
low                0
close              0
per_change         0
traded_quantity    0
traded_amount      0
status             0
Company            0
dtype: int64

In [103]:
df[df['Company'] == 'SANIMA']

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company
64605,2022-01-02,360.0,365.0,354.0,363.00,2.540000,53951.0,19459574.5,1,SANIMA
64606,2022-01-03,367.9,377.0,366.0,372.00,2.480000,55415.0,20542391.9,1,SANIMA
64607,2022-01-04,368.0,384.0,365.0,381.90,4.947917,62937.0,23707800.2,1,SANIMA
64608,2022-01-05,384.0,392.5,373.0,376.00,-1.540000,80827.0,30871358.4,-1,SANIMA
64609,2022-01-06,377.0,381.9,375.0,378.00,0.530000,61095.0,23092370.8,1,SANIMA
...,...,...,...,...,...,...,...,...,...,...
65376,2025-04-20,310.0,313.0,307.0,309.54,1.080000,113708.0,35233967.3,-1,SANIMA
65377,2025-04-21,315.7,315.7,305.0,311.91,0.770000,79029.0,24501253.5,-1,SANIMA
65378,2025-04-22,310.0,313.0,307.5,312.19,0.090000,106834.0,33168731.5,1,SANIMA
65379,2025-04-23,310.0,312.4,308.1,309.29,-0.930000,62979.0,19496040.5,-1,SANIMA
65380,2025-04-24,310.5,310.5,306.2,306.89,-0.780000,36881.0,11339061.3,-1,SANIMA

In [102]:
df['open'] = df['open'].fillna(360)
df.isna().sum()

published_date     0
open               0
high               0
low                0
close              0
per_change         0
traded_quantity    0
traded_amount      0
status             0
Company            0
dtype: int64